@import "../../../scss/vars";
@import "../../../scss/fonts";

.header {
  &__global-search {
    position: fixed;
    left: 256px;
    width: calc(100vw - 256px);
    padding: 20px 36px;
    background: $white-color;
  }

  &__search-field {
    width: 500px;
    height: 20px;
    border: none;
    padding-left: 32px;
    background: url("./img/svg/search.svg") no-repeat;
    @include regular-12-font;

    &:focus {
      outline-style: none;
    }

    &::placeholder {
      color: $gray-color;
    }
  }

  &__notification {
    position: absolute;
    right: 36px;
    top: 18px;
  }

  &__notification-dot {
    display: none;
    position: absolute;
    right: -2px;
    top: 0;

    &_show {
      display: block;
    }
  }
}
