@import "../../../../scss/_imports.scss";

.view-user {
  margin-bottom: 40px;

  &__avatar {
    max-width: 46px;
    max-height: 46px;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &__user-name {
    @include medium-14-font;
    color: $black-color;
  }

  &__user-email {
    @include medium-11-font;
    color: $gray-color;
  }
}
