@import "../../../../scss/_imports.scss";

.view-user {
  &__person {
    display: flex;
    margin-bottom: 40px;
  }

  &__person-avatar {
    max-width: 46px;
    max-height: 46px;
    border-radius: 50%;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &__user-name {
    @include medium-14-font;
    color: $black-color;
  }

  &__user-email {
    @include medium-11-font;
    color: $gray-color;
  }
}
