@import "../../../../../scss/imports";

.tasks-widget {
  &__selected-date-text {
    display: inline-block;
    margin-bottom: 47px;
    @include medium-15-font;
    color: $black-color;
  }

  &__week-days {
    margin-bottom: 52px;
  }

  &__week-list {
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }
}
