@import "../../../../../scss/imports";

.tasks-widget {
  &__selected-date-text {
    display: inline-block;
    margin-bottom: 47px;
    @include medium-15-font;
    color: $black-color;
  }

  &__week-days {
    margin-bottom: 52px;
  }

  &__week-list {
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }

  &__week-items {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__week-day {
    margin-bottom: 8px;
    @include medium-13-font;
    color: $dark-blue-color;
    text-align: center;

    &_today {
      color: $accent-blue-color;
    }
  }

  &__week-date {
    position: absolute;
    top: 28px;
    border: none;
    @include regular-12-font;
    text-align: center;
    background: none;
    color: $dark-gray-color;
    cursor: pointer;
    outline-style: none;

    &:hover,
    &:focus {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 1px $accent-blue-color solid;
      border-radius: 15px;
      background: $accent-blue-color;
      color: $white-color;
    }

    &_today {
      color: $accent-blue-color;
    }

    &_selected {
      // TODO: Search why this work!
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 1px $accent-blue-color solid;
      border-radius: 15px;
      background: $accent-blue-color;
      color: $white-color;
    }
  }
}
