@import "../../scss/imports";

.widget-card {
  position: relative;
  min-width: 100%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  padding: 16px 24px;
  background: $white-color;
  border-radius: 4px;

  &__title-text {
    @include medium-15-font;
    color: $black-color;
  }

  &__filter {
    position: absolute;
    right: 24px;
    top: 17px;
  }

  &__filter-text {
    @include regular-12-font;
    color: $gray-blue-color;
  }

  &__filter-select {
    min-width: 90px;
    border: none;
    appearance: none;
    background: url("./img/svg/select-arrow-down.svg") no-repeat right center;
    background-size: 7px 4px;
    @include regular-12-font;
    color: $accent-blue-color;
    cursor: pointer;

    &:focus {
      outline-style: none;
    }
  }

  &__divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    height: 1px;
    background: $divider-color;
  }

  &__content {
    padding-top: 33px;
  }
}
