@import "../../scss/imports";

.main {


  &__deals {
    position: relative;
    min-width: 445px;
    max-height: 344px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    padding: 16px 24px;
    background: $white-color;
    border-radius: 4px;
  }

  &__deals-text {
    @include medium-15-font;
    color: $black-color;
  }

  &__deals-filter {
    position: absolute;
    right: 35px;
    top: 19px;
  }

  &__deals-filter-text {
    @include regular-12-font;
    color: $gray-blue-color;
  }

  &__deals-filter-select {
    width: 75px;
    border: none;
    appearance: none;
    @include regular-12-font;
    color: $accent-blue-color;
    //background: url("../img/select-arrow-down.svg") no-repeat right center;
    background-size: 7px 4px;

    &:focus {
      outline-style: none;
    }
  }

  &__deals-filter-option {
    padding: 2px;
  }

  &__deals-divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    height: 1px;
    background: $divider-color;
  }
}
